@import '../../Assets/Scss/variable.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px 0 150px;
  height: 65px;
  .header-left {
    .header-left__logo {
      img {
        width: 45px;
      }
    }
    .header-app-name {
      font-size: 20px;
      font-weight: 500;
      padding-left: 10px;
    }
  }
  .header-right {
    .header-right__user {
      border-top: 2px solid #609A8E;
      border-bottom: 2px solid #609A8E;
      border-radius: 50%;
      padding: 2px;
    }
  }
}
.app-menu {
  .ant-drawer-title {
    font-size: 20px;
    font-weight: 600;
  }
  .menu-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
    &:hover {
      color: #fa8914;
    }
  }
  .menu-link-active {
    color: $button-color-1;
  }
}