@import "../../Assets/Scss/variable.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px 20px 150px;
  height: 70px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  .header-left {
    .header-left__logo {
      img {
        width: 45px;
      }
    }
    .header-app-name {
      font-size: 20px;
      font-weight: 500;
      padding-left: 10px;
    }
  }
  .header-right {
    .header-signin {
      color: #018f69;
      font-size: 15px;
      margin-right: 10px;
      border: 1px solid #018f69;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
    }
    .header-right__user {
      border-top: 2px solid #609a8e;
      border-bottom: 2px solid #609a8e;
      border-radius: 50%;
      padding: 2px;
    }
  }
}
.app-menu {
  .ant-drawer-title {
    font-size: 20px;
    font-weight: 600;
  }
  .menu-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
    &:hover {
      color: #fa8914;
    }
  }
  .menu-link-active {
    color: $button-color-1;
  }
}

.signin-modal {
  .ant-modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-modal-body {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .signin-modal-header {
        font-size: 28px;
        margin: 30px 0 50px 0;
        text-align: center;
      }

      .signin-type {
        padding: 5px 25px;
        margin-bottom: 10px;
        border: 1px solid #c5c5c5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        span {
          padding-left: 10px;
          font-weight: 500;
        }
      }
      .signin-footer {
        margin-top: 20px;
        color: gray;
        font-weight: 500;
      }
    }
  }
}
