.task-container {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  display: flex;
  .task-content {
    padding: 5px 10px;
  }
}

.dragging {
  background-color: #e3fcef;
}