$font-family-base: "Barlow Condensed", "sans-serif";
$font-size-base: 18px;
$font-size-article-title: 40px;
$font-size-article-info: 14px;
$acticle-info-color-1: #42b883;
$acticle-summary-color: #596365;
$article-content-color: #596365;
$acticle-title-color: #38474a;
$article-letter-spacing: 0.3px;